.container {
    flex-wrap: wrap;
}

.card {
    width: 100%; 
    max-width: 300px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid black;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card.no-hover:hover {
    transform: scale(1);
    transition: transform 0.3s ease;
    cursor: default;
}

.card-img-top {
    width: 200px;
}

.card-text {
    text-align: center;
    color: rgb(0, 0, 0);
}


.text-id {
    text-align: left !important;
    color: #ffffff !important;
} 

.text-type {
    color: #ffffff !important;
    width: 60px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.600);
    display: none;
}

.next-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next__left-picture {
    width: 50px;
    height: 50px;
    background-image: url('../../assets/icons/left-button.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.next__left-picture:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.next__right-picture {
    width: 50px;
    height: 50px;
    background-image: url('../../assets/icons/right-button.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.next__right-picture:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}