.container {
    flex-wrap: wrap;
}

.card {
    width: 100%; 
    max-width: 300px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid black;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-img-top {
    width: 200px;
}

.card-text {
    text-align: center;
    color: rgb(0, 0, 0);
}

.text-id {
    text-align: left !important;
    color: #ffffff !important;
} 

.text-type {
    color: #ffffff !important;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
}

/* Color for Background */
.normal {
    background-color: #d3d3d3;
}

.grass {
    background-color: #a8e6a2;
}

.fire {
    background-color: #f8a54f;
}

.water {
    background-color: #539dff;
}

.electric {
    background-color: #f6d74f;
}

.ice {
    background-color: #76d1c1;
}

.fighting {
    background-color: #c25956;
}

.poison {
    background-color: #b57ac4;
}

.ground {
    background-color: #d0b68b;
}

.flying {
    background-color: #a1bbec;
}

.psychic {
    background-color: #ff81b8;
}

.bug {
    background-color: #9dc130;
}

.rock {
    background-color: #c5a980;
}

.ghost {
    background-color: #6060b2;
}

.dragon {
    background-color: #086cc7;
}

.dark {
    background-color: #5a5957;
}

.steel {
    background-color: #b8b8d0;
}

.fairy {
    background-color: #ef97e6;
}


/* Lighter colors for Background */
.normal-bg-type {
    background-color: #e6e6e6; /* Helleres Grau */
}

.grass-bg-type {
    background-color: #ccebc5; /* Helleres Grün */
}

.fire-bg-type {
    background-color: #ffc78c; /* Helleres Orange-Rot */
}

.water-bg-type {
    background-color: #85baff; /* Helleres Blau */
}

.electric-bg-type {
    background-color: #fce985; /* Helleres Gelb */
}

.ice-bg-type {
    background-color: #b5e9e0; /* Helleres Türkis */
}

.fighting-bg-type {
    background-color: #d99c96; /* Helleres Rotbraun */
}

.poison-bg-type {
    background-color: #d3b3db; /* Helleres Lila */
}

.ground-bg-type {
    background-color: #e3d6c1; /* Helleres Sandbeige */
}

.flying-bg-type {
    background-color: #c7d5f7; /* Helleres Himmelblau */
}

.psychic-bg-type {
    background-color: #ffb3d5; /* Helleres Rosa */
}

.bug-bg-type {
    background-color: #c5e3a1; /* Helleres Hellgrün */
}

.rock-bg-type {
    background-color: #e0d1b3; /* Helleres Beige-Braun */
}

.ghost-bg-type {
    background-color: #9494d9; /* Helleres Violett */
}

.dragon-bg-type {
    background-color: #4c94e6; /* Helleres Blau */
}

.dark-bg-type {
    background-color: #8e8e8e; /* Helleres Grau-Schwarz */
}

.steel-bg-type {
    background-color: #d5d5e2; /* Helleres Grau-Silber */
}

.fairy-bg-type {
    background-color: #f8c6ef; /* Helleres Rosa */
}
