body {
    background-color: #ECECEC;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-card {
    width: 35rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.bg-success, .bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.scale {
    transform: scaleX(-1);
}

.quiz__finished-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.finished-container {
    display: flex;
    justify-content: center;
}

.finished-text {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

