@media (max-width: 1440px) {
    .recipe_timo_section_head_img {
        height: 275px;
        object-fit: cover;
        max-width: 100%;
        filter: none;
    }
}

@media (max-width: 520px) {
    .recipe_timo_head h1 {
        text-align: center;
    }
    .recipe_timo_recipe_characteristics {
        justify-content: center;
    }
    .recipe_timo_preparation_time {
        flex-direction: column;
    }
    .creator{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

@media (max-width: 355px) {
    .recipe_timo_head h1 {
        font-size: 25px;
        text-align: start;
    }
    .recipe_timo_portions_calculator h2 {
        font-size: 20px;
    }
    .button_portions_calculator {
        width: 125px;
        
    }
    .recipe_timo_preparation_time span {
        font-size: 14px;
    }
    .recipe_timo_portions_calculator{
      justify-content: center;
    }
}
