.screen-menu {
    position: sticky;
    top: 0;
    background-color: var(--bestellapp-white);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    height: 100vh;
    width: 300px;
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

nav {
    margin-right: 0;
    display: flex;
}

.basket {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    background-image: url("../../assets/icons/shopping_cart.png");
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}


.basket:hover {
    background-color: var(--bestallapp-darkorange);
    border-radius: 50%;
}

.basket__ordered-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.basket__ordered-food {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.basket__ordered-details {
    display: flex;
}

.basket__add-and-remove-food {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid var(--bestellapp-lightgray);
    border-radius: 50%;
    margin: 10px;
}

.basket__add-and-remove-food:hover {
    background-color: var(--bestellapp-lightgray);
}

.basket__total-sum {
    display: flex;
}

.basket__costs {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.divider {
    margin: 20px 0;
    border: 1px solid var(--bestellapp-lightgray);
    width: 100%;
}
