.off-screen-menu {
    background-color: rgb(104, 98, 98);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 100px;
    right: -500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: .3s ease;
    padding-top: 32px;
    text-align: center;
}

.off-screen-menu.active {
    right: 0;
    max-width: 400px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav {
    margin-right: 0;
    display: flex;
}

.basket {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    background-image: url("../../assets/icons/shopping_cart.png");
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}


.basket:hover {
    background-color: var(--bestallapp-darkorange);
    border-radius: 50%;
}

.basket__ordered-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.basket__ordered-food {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket__add-and-remove-food {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid var(--bestellapp-lightgray);
    border-radius: 50%;
    margin: 10px;
}

.basket__add-and-remove-food:hover {
    background-color: var(--bestellapp-lightgray);
}
















































/* .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--bestallapp-darkgray);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
} */