.screen-menu {
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--bestellapp-white);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    height: 100vh;
    max-width: 300px;
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    overflow-y: auto;
}

nav {
    margin-right: 0;
    display: flex;
}

.basket {
    margin: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-image: url("../../assets/icons/menu.png");
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}


.basket:hover {
    background-color: var(--bestallapp-darkorange);
    border-radius: 50%;
}

.basket__ordered-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.basket__ordered-food {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.basket__ordered-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.basket__add-and-remove-food {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0;
}

.basket__add-and-remove-food:hover {
    border: 1px solid var(--bestellapp-orange);
}

.basket__title {
    font-size: 20px !important;
    margin: 0;
    display: flex;
}

.basket__price {
    font-size: 16px !important;
    color: var(--bestellapp-darkgray) !important;
    margin: 0;
}

.basket__sum {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: var(--bestellapp-darkgray) !important;
    margin: 0;
}

.basket__costs {
    display: flex;
    flex-direction: column;
}

.basket__total-sum {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.basket__total-sum span {
    margin: 0;
}

.basket__delivery-costs {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.basket__delivery-costs span {
    margin: 0;
}

.basket__total-subsum {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.basket__total-subsum span {
    margin: 0;
}

.divider {
    margin: 20px 0;
    border: 1px solid var(--bestellapp-lightgray);
    width: 100%;
}

.basket__pay-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--bestellapp-orange);
    color: var(--bestellapp-white);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.basket-empty-message {
    text-align: center;
    font-size: 24px;
    color: var(--bestellapp-darkgray);
    background-color: var(--bestellapp-lightgray);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.basket-empty-message p {
    margin: 8px 0;
}

.hungry-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
