.button__container {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.button__container.active {
    position: relative;
}

.button__basket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin: 20px;
    background-color: var(--bestellapp-orange);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    font-size: 32px;
}

.button__sum {
    margin: 0;
    font-size: 24px;
}

