@media screen and (min-width:701px) {

    .flex-container {
        display: flex;
        margin-top: 100px;
        min-height: 100vh
    }
    
    .container-left {
        flex: 1;
    }

    .button__container {
        display: none;
    }
    
}

@media screen and (max-width:700px) {
    .container-left.active {
        display: none;
    }

    .container-right {
        display: none;
    }
    
    .container-right.active {
        display: flex;
        flex: 1;
    }

    .screen-menu {
        max-width: 700px;
        width: 100%;
    }
    
    .container-right {
        display: none;
    }

    .button__container {
        display: flex;
    }

    .flex-container {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .payment__title {
        font-size: 40px;
    }

    .footer__privacy-policy, .footer__imprint {
        font-size: 24px;
    }

    .footer__logo {
        height: 75px;
    }

    .footer__text {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    .payment__title {
        font-size: 32px;
    }
    
    
    .footer__privacy-policy, .footer__imprint {
        font-size: 20px;
    }

    .footer__logo {
        height: 60px;
    }

    .footer__text {
        font-size: 20px;
    }
}

