.aot {
    height: 100vh;
    background-image: url("./Sakura Ramen Webseite - Desktop/assets/img/1_hero/JPG/hero_bg.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    top: 0;
    left: 0;
    right: 0;
    height: 112px;
}
.navbar-symbol {
    width: auto; 
    height: 64px;
}

nav {
    display: flex;
    align-items: center;
}
nav a {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: white; 
    text-decoration: none; 
    margin-right: 20px;
}
nav a:hover {
    text-decoration: underline;
    color: #9F0908;
}
.navbar-tel a {
    display: inline-block;
    flex-direction: row-reverse;
    background-color: #9F0908;
    border-style: solid;
    border-radius: 12px;
    padding: 6px;
    color: white; 
    margin: 0;
}
.navbar-tel a:hover {
    background-color: #a12e2e;
    text-decoration: none;
    color: white;
}
.navbar-phone {
    margin-right: 1px;
    margin-bottom: -6px;
}