.how-to-order-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 64px;
    
}
.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}