<section>  
    <h2 class="font__raleway">Our Menu</h2> 
    <div class="menu__container">
        <div class="menu__container-choose">
            <img src="./../../../assets/img/3_section_our_menu/Png/R1.png" alt="Ramen 1" />
            <table>
                <tr>
                    <th>Tonkatsu Ramen</th>
                    <td>CHICKEN: <p>11.95€</p></td>
                    <td>BEEF: <p>12.95€</p></td>
                    <td>SHRIMP: <p>13.95€</p></td>
                </tr>
            </table>
        </div>
        <div class="menu__container-choose">
            <table>
                <tr>
                    <th>Tonkatsu Ramen</th>
                    <td>CHICKEN: <p>11.95€</p></td>
                    <td>BEEF: <p>12.95€</p></td>
                    <td>SHRIMP: <p>13.95€</p></td>
                </tr>
            </table>
            <img src="./../../../assets/img/3_section_our_menu/Png/R2.png" alt="Ramen 2" />
        </div>
        <div class="menu__container-choose">
            <img src="./../../../assets/img/3_section_our_menu/Png/R3.png" alt="Ramen 3" />
            <table>
                <tr>
                    <th>Tonkatsu Ramen</th>
                    <td>CHICKEN: <p>11.95€</p></td>
                    <td>BEEF: <p>12.95€</p></td>
                    <td>SHRIMP: <p>13.95€</p></td>
                </tr>
            </table>
        </div>
    </div>
</section>