<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Meta -->
    <meta content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Description for SEO -->
    <meta name="description" content="Bei uns finden Sie köstliche Kochrezepte aus aller Welt.">

    <!-- Website Title -->
    <title>Kochwelt</title>

    <!-- Favicon -->
    <link rel="icon" href="../assets/logos/logo_small.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../src/css/main.css">
    <link rel="stylesheet" href="../src/css/header.css">
    <link rel="stylesheet" href="../src/css/footer.css">
    <link rel="stylesheet" href="../src/css/components.css">
    <link rel="stylesheet" href="../src/css/start.css">
    <link rel="stylesheet" href="../src/css/recipe_lee.css">
    <link rel="stylesheet" href="../src/css/media_queries/recipe_media_queries.css">
    <link rel="stylesheet" href="../src/css/header_hamburger_menu.css">

    <!-- Javascript -->
    <script src="../src/js/recipe_calculator_lee.js" defer></script>
    <script src="../src/js/header_hamburger_menu.js" defer></script>
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Stefan hinzugefügt am 01.09.2024 um 17:00 */ -->
        <div class="header__off__screen__menu">
            <ul>
                <li><a class="header__link" href="../index.html">Start</a></li>
                <li><a class="header__link" href="./recipe_recommended.html">Rezept des Tages</a></li>
                <li><a class="header__link" href="../views/contact.html">Kontakt</a></li>
                <li><a class="header__link" href="../views/impressum.html">Impressum</a></li>
                <li><a class="header__link" href="../views/privacy_policy.html">Datenschutzerklärung</a></li>
            </ul>
        </div>
        <div class="header__container">
            <img class="header__logo" src="../assets/logos/logo_1.png" alt="Kochwelt Logo">
            <nav  class="header__nav">
                <a class="header__link" href="../index.html">Start</a>
                <a class="header__link--active" href="../views/recipe_recommended.html">Rezept des Tages</a>
                <a class="header__link" href="../views/contact.html">Kontakt</a>
                <a class="header__link" href="../views/impressum.html">Impressum</a>
                <a class="header__link" href="../views/privacy_policy.html">Datenschutzerklärung</a>
            </nav>
            <!-- Stefan hinzugefügt am 01.09.2024 um 17:00 */ -->
            <div id="hamburger_menu" class="header__hamburger__menu">
                <span class="header__hamburger__bar"></span>
                <span class="header__hamburger__bar"></span>
                <span class="header__hamburger__bar"></span>
            </div>
        </div>
    </header>

    <!-- Main -->
    <main>

        <!-- Recipe overview -->
        <section class="recipe__container">
            <div class="recipe__content">
                <h2>Café de Paris</h2>
                <img class="recipe__img" src="../assets/img/lee/cafe_de_paris.webp" alt="Bild vom türkischen Sarmas">

                <!-- Recipe description tags -->
                <div class="recipe__overview-tags">

                    <!-- Recipe time tag -->
                    <div class="recipe__overview-tag">
                        <img src="../assets/icons/clock_regular.svg" alt="">
                        <p>60 Min.</p>
                    </div>

                    <!-- Recipe difficulty tag -->
                    <div class="recipe__overview-tag">
                        <img src="../assets/icons/brain_solid.svg" alt="">
                        <p>Mittel</p>
                    </div>

                    <!-- Recipe date of creation tag -->
                    <div class="recipe__overview-tag">
                        <img src="../assets/icons/calendar_alt_regular.svg" alt="">
                        <p>26.08.2024</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Recipe ingredients -->
        <section class="recipe__container">
            <div class="recipe__content">
                <div class="recipe__breakline"></div>

                    <!-- Ingredients calculator -->
                    <div class="recipe__calculator">
                        <span>Zutaten für</span>
                        <input class="recipe__input" id="recipe__input" type="number" min="1" max="20" value="1" required/>
                        <button id="recipe__button" class="recipe__button">Portionen</button>
                    </div>
        
                    <!-- Ingredients table -->
                    <table class="recipe__table">
                        <tbody class="recipe__table-body">
                            <tr class="recipe__table-row--colored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--uncolored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--colored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--uncolored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--colored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--uncolored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--colored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--uncolored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--colored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--uncolored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--colored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--uncolored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                            <tr class="recipe__table-row--colored">
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">-</td>
                                <td class="recipe__table-data--ingredient">Platzhalter</td>
                            </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </section>

        <!-- Recipe preparation -->
        <section class="recipe__container">
            <div class="recipe__content">
                <h2 id="recipe__h2">Zubereitung</h2>
                
                <!-- Recipe description tags -->
                <div class="recipe__overview-tags">

                    <!-- Recipe time tag -->
                    <div class="recipe__overview-tag">
                        <img src="../assets/icons/clock_regular.svg" alt="">
                        <p>120 Min.</p>
                    </div>

                    <!-- Recipe date of creation tag -->
                    <div class="recipe__overview-tag">
                        <img src="../assets/icons/calendar_alt_regular.svg" alt="">
                        <p>26.08.2024</p>
                    </div>
                </div>

                <!-- Recipe step 1 -->
                <h3 id="recipe__h3">1. Platzhaler:</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque?</li><br>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque?</li><br>
                </ul>

                <!-- Recipe step 2 -->
                <h3 id="recipe__h3">2. Platzhaler:</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque?</li><br>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque?</li><br>
                </ul>

                <!-- Recipe step 3 -->
                <h3 id="recipe__h3">3. Platzhaler:</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque?</li><br>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque?</li><br>
                </ul>
            </div>
        </section>

        <!-- Recipe creator -->
        <section class="recipe__container">
            <div class="recipe__content">
                <h4 id="recipe__h4">Rezept erstellt von</h4>
                <div class="recipe__creator">
                    <img src="../assets/img/lee/lee.jpeg" alt="Profilbild von Lee-Roy Romann">
                    <p>Lee-Roy Romann</p>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer__content">
            <img class="footer__logo" src="../assets/logos/logo_small.png" alt="#">
            <div class="footer__social">
                <a href="https://www.instagram.com"> <img src="../assets/socialmedia/instagram_logo.png" alt="Instagram"></a>
                <a href="https://www.facebook.com"> <img src="../assets/socialmedia/facebook_logo.png" alt="Facebook"></a>
            </div>
        </div>
    </footer>
</body>

</html>