*{
    margin: 0 auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

:root {
    --bestellapp-orange: rgb(255, 128, 0);
    --bestallapp-darkorange: rgb(219, 121, 8);
    --bestallapp-darkgray: rgb(41, 41, 41);
    --bestellapp-lightgray: rgb(148, 148, 148);
    --bestellapp-white: rgb(255, 255, 255); 
    --bestellapp-green: rgb(6, 153, 1);
    --bestellapp-light-orange: rgb(250, 180, 89);
    --bestellapp-pale-gray: rgb(233, 233, 233);
}

.sour-gummy {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* margin: top right bottom left; */

.structure__main-container {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-size: 28px;
    color: var(--bestellapp-darkgray);
    text-align: center;
    white-space: normal;
}