<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website Title -->
    <title>Contact</title>

    <!-- Favicon -->
    <link rel="icon" href="../assets/logos/logo_small.png">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../src/css/main.css">
    <link rel="stylesheet" href="../src/css/header.css">
    <link rel="stylesheet" href="../src/css/footer.css">
    <link rel="stylesheet" href="../src/css/components.css">
    <link rel="stylesheet" href="../src/css/start.css">
    <link rel="stylesheet" href="../src/css/contact.css">
    <link rel="stylesheet" href="../src/css/media_queries/recipe_media_queries_stefan.css">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="header__container">
            <img class="header__logo" src="../assets/logos/logo_1.png" alt="Kochwelt Logo">
            <nav  class="header__nav">
                <a class="header__link" href="../index.html">Start</a>
                <a class="header__link" href="./recipe_placeholder.html">Rezept des Tages</a>
                <a class="header__link--active" href="../views/contact.html">Kontakt</a>
                <a class="header__link" href="../views/impressum.html">Impressum</a>
            </nav>
        </div>
    </header>

    <!-- Contact Formular-->
    <form onsubmit="sendMail(event)">
        <div class="form__container">
            <h2>Kontaktiere uns</h2>
            <!-- Name -->
            <label for="yourname">Dein Name:</label>
            <input id="yourname" type="text" name="name" class="form__container__text" required>

            <!-- Email -->
            <label for="email">Deine E-Mail:</label>
            <input id="email" type="email" name="email" class="form__container__text" required>

            <!-- Message -->
            <label for="message">Deine Nachricht:</label>
            <textarea id="message" name="message" class="form__container__text"></textarea>

            <!-- Submit -->
            <input type="submit" class="form__container__submit__botton" value="Abschicken">
        </div>
    </form>

    <!-- Footer -->
    <footer>
        <div class="footer__content">
            <img class="footer__logo" src="../assets/logos/logo_small.png" alt="#">
            <div class="footer__social">
                <a href="https://www.instagram.com"> <img src="../assets/socialmedia/instagram_logo.png" alt="Instagram"></a>
                <a href="https://www.facebook.com"> <img src="../assets/socialmedia/facebook_logo.png" alt="Facebook"></a>
            </div>
        </div>
    </footer>
    
</body>
</html>