body, html {
    margin: 0 auto;
}

*{
    box-sizing: border-box;
}

.kanit-medium-italic {
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: italic;
  }

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-20 {
    padding: 20px;
}

.wd-100 {
    width: 100%;
}

.direction-row-reverse {
    flex-direction: row-reverse;
}
