body, html {
    margin: 0 auto;
    scroll-behavior: smooth;
    height: 100vh;
}

*{
    box-sizing: border-box;
}

.kanit-medium-italic {
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 32px;
  }

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-20 {
    padding: 20px;
}

.wd-100 {
    width: 100%;
}

.direction-row-reverse {
    flex-direction: row-reverse;
}

.direction-column {
    flex-direction: column;
}

button {
    cursor: pointer;
    margin: 20px;
}
