body{
    overflow:auto;
}

.header__logo_link {
    align-self: center;
}

.impressum_main_container {
    max-width: 1440px;
}
@media (max-width: 1460px) {
    .impressum_main_container {
        margin-left: 16px;
        margin-right: 16px;
        text-align: center;
    }
}
@media (max-width: 440px) {
    .impressum_main_container {
        padding-bottom: 128px;
    }
}
@media (max-width: 800px) {
    .impressum_main_container {
        padding-bottom: 128px;
    }
}

@media (max-width: 670px) {
    .impressum_main_container {
        padding-bottom: 128px;
    }
}
