
:root{
    --kochwelt-green: rgba(0, 128, 0, 1.0);
    --kochwelt-lightgray: rgba(239, 239, 239, 1.0);
    --kochwelt-darkgray: rgba(64, 59, 59, 1.0);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 104px 0px 0px;
    margin: 0px;
    font-family: "Raleway";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
}

h2 {
    font-size: 32px;
    text-align: center;
    margin: 0px 0px 64px 0px;
}

header,
.section__recommended,
.section__explore,
.section__knowledge,
footer {
    padding: 32px 204px 64px 204px;
}




