.section_recommended {
    display: flex;
    gap: 64px;
    align-items: center;
}

.section__explore {
    background-color: var(--kochwelt-lightgray);
}

.section__recommended,
.section__explore,
.section__knowledge {
    margin: 0 auto;
    max-width: 1440px;
}