footer {
    z-index: 1;
    height: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--fotogram-green);
    box-shadow: 0px 0px 20px black;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

p {
    color: white;
    font-size: 16px;
    margin: 0;
}